*.iml
secrets/
*.swp
.gradle
/local.properties
/.idea
.DS_Store
build/
.externalNativeBuild
.idea
*.xcbkptlist
andrdoidApp/release
app-release.apk
robovm-build/
*.apk
*.ipa
iosApp/build
iosApp/ipa
android/iosApp/build/
/scratch/logfiles/
/androidApp/META-INF/
publisher-credentials.json
/scratch/
